body
{
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    align-items:center;

}
.gridContainer
{
    display:grid;
    justify-content:center;
    margin:auto;
    grid-template-columns: repeat(var(--colNumber), 1fr);
    grid-template-rows: repeat(var(--rowNumber), 1fr);
    height:500px;
    width:500px;
    border: 2px solid black;

}

.grid
{
    display:flex;
    border:1px solid black;
    


}


