body
{
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    align-items:center;

}
.gridContainer
{
    display:flex;
    flex-wrap:wrap;
    width:500px;
    height:500px;
    border:1px solid black;
    
    
}

.grid
{
    display:flex;
    background-color:white;
    padding:3px;
    
    border:1px solid black;
    


}


