body
{
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    align-items:center;
    background-color:#ededed;
    
}
.header
{
    font-family:'Courier New', Courier, monospace;
    font-size:40px;
    font-weight:bold;
}
.gridContainer
{
    display:grid;
    justify-content:center;
    margin:auto;
    grid-template-columns: repeat(var(--colNumber), 1fr);
    grid-template-rows: repeat(var(--rowNumber), 1fr);
    height:500px;
    width:500px;
    border: 60px solid red;
    border-radius:15px;
    
}

.etch
{
    position:relative;
}

.leftcircle, .rightcircle
{
    position:absolute;
    height:50px;
    width:50px;
    border-radius:100px;
    border:solid black;
    bottom:0;
    background-color:white;
}
.rightcircle
{
    right:0;
}

.grid
{
    display:flex;
    border:1px solid black;
    
}
#red 
{
    background-color:red;
}
#blue
{
    background-color:blue;
}
#green
{
    background-color:green;
}
